#content{
    margin-top: 10vmax;
}
#title{
    text-align: center;
    font-family: 'Candal', sans-serif;
    padding-top: 5vh;
}

#skills{
    width: 6rem;
   
}

#cont{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    padding-top: 5vh;
}
#c1{
    padding-bottom: 3vh !important;
    text-align: center;
    font-family: 'Candal', sans-serif;
}
#bigtext{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 900;
    text-align: center;
    padding-top: 10vh;
}

#cards{
    margin-top: 2vh;
    margin-bottom: 5vh !important;
    padding: 2vw;
}